@media (max-width: 1200px) {
    .header__logo {
        margin-left: -9%;
    }
    .right-line {
        left: 140px;
    }
    .header__main-phones {
        right: 129px;
    }
    .phones {
        width: 180px;
    }
    .header__main-buttons {
        left: 104px;
    }
    .header__buttons {
        margin-left: 4px;
        margin-right: 2px;
    }
    .menu-button {
        width: 16.4%;
    }
    .menu-button_font {
        margin-left: 25%;
    }
    .contacts-button .menu-button_font {
        margin-right: 12%;
    }
    .block-images {
        margin-left: 0;
    }
    .first-card {
        margin-right: 0.5%;
    }
    .second-card {
        margin-left: 0.5%;
    }
    .info__cars {
        width: 185px;
    }
    .info__services,
    .info__about-us {
        margin-left: 15px;
    }
    .info__services {
        width: 190px;
    }
    .info__about-us {
        width: 170px;
    }
    .info__contacts {
        margin-left: 20px;
    }
    .footer__block {
        align-items: center;
    }
    .footer__copyright {
        font-size: 12px;
        letter-spacing: 0;
    }
}

@media (min-width: 1041px) and (max-width: 1200px) {
    .card__text {
        font-size: 10px;
    }
}

@media (min-width: 1041px) and (max-width: 1085px) {
    .card__text {
        letter-spacing: 0;
    }
    .first-couple .first-card,
    .second-couple .first-card,
    .third-couple .first-card {
        margin-left: -70px;
    }
    .first-couple .second-card,
    .second-couple .second-card,
    .third-couple .second-card {
        margin-left: -70px;
    }
    .first-couple .first-card .picture,
    .second-couple .first-card .picture,
    .third-couple .first-card .picture {
        margin-left: -70px;
    }
    .first-couple .second-card .picture,
    .second-couple .second-card .picture,
    .third-couple .second-card .picture {
        margin-left: 70px;
    }
}

@media (max-width: 1040px) {
    .block-images__couple {
        flex-direction: column;
    }
}

@media (max-width: 999px) {
    .header__lines {
        display: none;
    }
    .around-clock-phone {
        margin-top: -38px;
        margin-right: -186px;
    }
    .viber-whatsup-phone {
        margin-top: 8px;
    }
    .header__buttons:first-of-type {
        margin-top: -36px;
    }
    .header__buttons:last-of-type {
        margin-left: -188px;
        margin-top: 7px;
    }
}

@media (max-width: 935px) {
    .around-clock-phone {
        margin-left: 90px;
    }
    .header_main-buttons {
        margin-right: 195px;
    }
    .menu-button_font {
        margin-left: 20%;
    }
}

@media (max-width: 800px) {
    .menu-button_font {
        margin-left: 15%;
    }
    footer {
        height: 430px;
        background: url('../img/footer.png') #040404 no-repeat;
    }
    .footer__block {
        margin-top: 10px;
    }
    .footer__info {
        flex-direction: column;
    }
    .footer__type {
        margin-top: 2px;
    }
    .vertical-footer-line,
    .vertical-footer-line-long {
        display: none;
    }
    .info__cars {
        margin-left: 17px;
    }
    .info__services {
        margin-top: -169px;
        margin-left: 290px;
    }
    .info__about-us {
        margin-top: 10px;
    }
    .info__contacts {
        margin-left: 271px;
        margin-top: -178px;
    }
    .footer-line {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .footer__copyright {
        font-size: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .header__menu {
        justify-content: flex-start;
    }
    .short-menu {
        display: block;
        margin-left: 40px;
    }
    .header__menu-buttons {
        display: none;
    }
    .tagline__name-string {
        margin-top: 10px;
    }
    .tagline__text {
        font-size: 10px;
        margin-top: 10px;
        margin-left: 20px;
        word-spacing: 0;
        line-height: 15px;
    }
    .block-images {
        margin-top: 20px;
    }
    .block__card {
        height: 500px;
    }
    .card__title {
        margin-top: 15px;
    }
    .card-line {
        margin-top: 10px;
    }
}

@media (max-width: 640px) {
    .header__image {
        margin-left: 100%;
    }
    .header__main {
        margin-left: 112%;
    }
    .header__main-phones {
        right: 115px;
    }
    .header__main-buttons {
        left: -306px;
        top: 90px;
    }
    .header__buttons:last-of-type {
        margin-left: 10px;
        margin-top: -36px;
    }
    .phone-number {
        font-size: 16px;
    }
    .phone-time {
        margin-left: 43px;
        font-size: 12px;
    }
    .phone-line {
        display: none;
    }
    .header__menu {
        margin-top: 150px;
    }
    .location {
        margin-top: 64px;
    }
}

@media (max-width: 580px) {
    .tagline__text,
    .card__text {
        font-size: 9px;
    }
}

@media (max-width: 540px) {
    .short-menu {
        margin-left: 12px;
    }
    .pop-up-menu {
        width: 110%;
    }
    .tagline__text {
        margin-left: 0;
        letter-spacing: -0.45px;
    }
    .footer__block {
        margin-left: 0;
    }
    .info__services {
        margin-left: 235px;
    }
    .info__contacts {
        margin-left: 230px;
    }
}

@media (max-width: 460px) {
    .header__buttons {
        margin-left: 17px;
        width: 160px;
    }
    .menu-button {
        width: 5%;
        height: 100%;
    }
    .menu-button_font {
        font-family: "Montserrat-Regular";
        font-size: 9px;
    }
    .main-button .menu-button_font,
    .contacts-button .menu-button_font {
        margin-top: 3px;
    }
    .block-images {
        margin-top: 10px;
    }
    .card__title {
        font-size: 5.5vw;
        margin-left: -18px;
    }
    .card__text {
        line-height: 12px;
        font-size: 2vw;
    }
    footer {
        height: 850px;
    }
    .info__cars,
    .info__services,
    .info__about-us,
    .info__contacts {
        margin-top: 15px;
        margin-left: -15px;
    }
}

@media (max-width: 405px) {
    .header__logo {
        width: 160px;
        margin-left: 6%;
    }
    .header__main {
        margin-left: 160%;
    }
    .around-clock-phone {
        margin: 10px -24px 0 0;
    }
    .viber-whatsup-phone {
        display: none;
    }
    .header__buttons {
        margin-left: 12px;
    }
    .header__menu {
        margin-top: 135px;
    }
    .location {
        margin-top: 50px;
    }
    .excursions-line {
        display: none;
    }
}

@media (max-width: 355px) {
    .header__main-phones {
        right: 132px;
    }
    .header__logo {
        margin-left: -6%;
    }
    .header__buttons {
        margin-left: 25px;
        width: 140px;
    }
    .header__menu {
        height: 49px;
    }
    .short-menu_line:last-of-type {
        display: none;
    }
    .location {
        margin-top: 40px;
    }
}

@media (max-width: 336px) {
    .header__buttons {
        margin-left: 32px;
    }
    .phone-number {
        font-size: 15px;
        margin-left: 10px;
    }
    .phone-time {
        margin-left: 46px;
    }
}