* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Romul-Regular";
    src: url("../fonts/Romul-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2f2c34;
}


/* header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 158px;
}

.header__image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: relative;
    margin-top: 26px;
}

.header__lines {
    position: absolute;
    width: 548px;
    height: 1px;
    z-index: 2;
    background-color: #2f2c34;
}

.header__logo {
    margin-left: 17px;
    margin-top: -10px;
    z-index: 1;
    cursor: pointer;
}

.left-line {
    right: 159px;
}

.right-line {
    left: 175px;
}

.header__main {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: -43px;
}


/* header-phones */

.header__main-phones {
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    right: 117px;
    top: -2px;
}

.phones {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 35px;
}

.phone-number {
    font-family: "Montserrat-Medium";
    font-size: 18px;
    margin-top: -1px;
    word-spacing: 1px;
    text-decoration: none;
    color: #2f2c34;
}

.right-line {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.phone-time {
    font-family: "Montserrat-Medium";
    font-size: 13px;
    color: #d0aa8c;
    word-spacing: 1.75px;
}

.around-clock-phone .phone-time {
    font-size: 14px;
}

.phone-line {
    margin-left: 4px;
    width: 39px;
    height: 1px;
    background-color: #d0aa8c;
}

.viber-whatsup-phone .phone-line {
    margin-left: 8px;
}


/* header-buttons */

.header__main-buttons {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    left: 178px;
}

.header__buttons {
    background-color: #ffffff;
    border: 1px solid black;
    width: 186px;
    height: 30px;
    margin-left: 19px;
    margin-right: 6px;
    cursor: pointer;
}

.header__buttons:hover {
    background-color: #d0aa8c;
    border: 1px solid #d0aa8c;
    color: #ffffff;
}

.header__buttons_font {
    font-family: "Montserrat-Medium";
    font-size: 16px;
    font-size: 13px;
    text-transform: uppercase;
}


/* header-menu */

.header__menu {
    background: linear-gradient(135deg, #2f2c34 40%, #d0aa8c 200%);
    margin-top: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: absolute;
    margin-top: 114px;
    width: 100%;
    height: 60px;
}


/* short-menu */

.short-menu {
    display: none;
    height: 60px;
    margin-top: 2px;
    margin-left: 8px;
    border-radius: 2px;
    cursor: pointer;
}

.short-menu_line {
    width: 55px;
    height: 4px;
    margin-top: 8px;
    background-color: #d0aa8c;
    border-radius: 2px;
}


/* pop-up-menu */

.pop-up-menu {
    display: none;
    flex-direction: column;
    margin-top: 60px;
    margin-left: -95px;
    list-style: none;
    height: 192px;
    width: 100%;
    background-color: #f7f7f7;
}

.pop-up-menu__buttons {
    position: relative;
    height: 32px;
    border-bottom: 1px solid #747177;
    cursor: pointer;
}

.pop-up-menu__buttons:hover {
    background-color: #e9e9e9;
}

.pop-up-menu__buttons_font {
    position: absolute;
    font-family: "Romul-Regular";
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    left: 38px;
    top: 6px;
}


/* header-menu-button */

.header__menu-buttons {
    width: 1170px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
}

.menu-button {
    border: none;
    background-color: transparent;
    height: 20px;
}

.main-button {
    width: 193px;
    display: flex;
    justify-content: flex-start;
}

.services-button {
    width: 251px;
    border-left: 1px solid #747177;
}

.car-park-button {
    width: 286px;
    border-left: 1px solid #747177;
}

.events-button {
    width: 273px;
    border-left: 1px solid #747177;
}

.about-us-button {
    width: 239px;
    border-left: 1px solid #747177;
}

.contacts-button {
    width: 192px;
    border-left: 1px solid #747177;
    display: flex;
    justify-content: flex-end;
}

.menu-button_font {
    font-family: "Romul-Regular";
    font-size: 15px;
    color: #ffffff;
    margin-left: 8px;
    text-decoration: none;
    cursor: pointer;
}

.menu-button_font:hover {
    color: #d0aa8c;
}

.services-button .menu-button_font {
    margin-left: 66px;
}

.car-park-button .menu-button_font {
    margin-left: 68px;
}

.events-button .menu-button_font {
    margin-left: 64px;
}

.about-us-button .menu-button_font {
    margin-left: 67px;
}

.contacts-button .menu-button_font {
    margin-right: -7px;
}


/* location */

.location {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 28px;
}

.location__main-dir,
.location__events-dir,
.location__excursions-dir {
    width: 80px;
    height: 10px;
    display: flex;
}

.location__events-dir {
    border-left: 1px solid black;
}

.location__excursions-dir {
    border-left: 1px solid #d0aa8c;
}

.location__main-dir-text,
.location__events-dir-text,
.location__excursions-dir-text {
    font-family: "Montserrat-Medium";
    font-size: 10.5px;
    margin-left: 9px;
    margin-top: -2px;
}

.location__main-dir-text {
    margin-left: 16px;
}

.location__excursions-dir-text {
    color: #d0aa8c;
    margin-left: 4px;
}


/* tagline */

.tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1170px;
    border-top: 1px solid #e7e8e9;
}

.tagline__name-string {
    font-family: "Montserrat-Regular";
    font-size: 17px;
    margin-top: 26px;
    letter-spacing: 1px;
    margin-left: 15px;
}

.tagline__excursions {
    margin: 4px 0 0 15px;
    display: flex;
}

.tagline__excursions-string {
    font-family: "Romul-Regular";
    font-size: 37.5px;
    margin-left: 13px;
}

.excursions-line {
    margin-top: 22px;
    width: 80px;
    height: 2px;
    background-color: #d0aa8c;
}

.excursions-line:first-of-type {
    margin-right: 1px;
}

.excursions-line:last-of-type {
    margin-left: 16px;
}

.tagline__text {
    font-family: "Montserrat-Medium";
    font-size: 12.5px;
    margin-top: 26px;
    margin-left: 22px;
    word-spacing: 2.7px;
    line-height: 16px;
    text-align: center;
}

.tagline__text span {
    line-height: 21px;
    word-spacing: 3.4px;
    margin-left: -8px;
}


/* block-images */

.block-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1170px;
    margin-top: 48px;
    margin-left: 15px;
}

.block-images__couple {
    display: flex;
    flex-direction: row;
}

.block__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 548px;
    width: 555px;
}

.first-card {
    margin-right: 30px;
}

.second-card {
    margin-left: 30px;
}

.picture {
    width: 555px;
    height: 235px;
}

.card__title {
    font-family: "Romul-Regular";
    font-size: 25px;
    margin-top: 21px;
    margin-left: 2px;
    letter-spacing: 1.5px;
}

.first-couple .second-card .card__title,
.second-couple .second-card .card__title {
    letter-spacing: -0.8px;
}

.third-couple .card__button {
    margin-top: 28px;
}

.card-line {
    width: 90px;
    height: 1px;
    margin-top: 21px;
    margin-right: 2px;
    background-color: #d0aa8c;
}

.card__text {
    font-family: "Montserrat-Medium";
    font-size: 12px;
    margin-top: 22px;
    letter-spacing: 0.33px;
    text-align: center;
}

.card__button {
    background-color: transparent;
    border: 2px solid black;
    width: 275px;
    height: 43px;
    margin-top: 27px;
    margin-left: -1px;
    cursor: pointer;
}

.card__button:hover {
    background-color: #d0aa8c;
    border: 2px solid #d0aa8c;
    color: #ffffff;
}

.card__button_font {
    font-family: "Montserrat-Medium";
    font-size: 15px;
    margin-left: 1px;
    letter-spacing: 0.5px;
}


/* footer */

footer {
    width: 100%;
    margin-top: 9px;
    height: 340px;
    background-image: url('../img/footer.png');
    transform: translateX(-0.25%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.footer__block {
    width: 1170px;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    margin-left: 30px;
}

.footer__info {
    display: flex;
    flex-direction: row;
}

.footer__columns {
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-family: "Romul-Regular";
    font-size: 18.5px;
    color: #ffffff;
    cursor: pointer;
}

.footer__type {
    font-family: "Montserrat-Regular";
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #9f9f9f;
    margin-top: 5px;
    cursor: pointer;
}

.footer__type:hover {
    color: #ffffff;
}

.vertical-footer-line {
    width: 2px;
    height: 136px;
    margin-top: 71px;
    margin-left: -2px;
    border-left: 2px solid #8b8c8c;
}

.vertical-footer-line .second-line {
    margin-left: 4px;
}

.info__cars {
    width: 245px;
}

.info__services {
    width: 257px;
}

.footer-line {
    margin-top: 15px;
    margin-bottom: 24px;
    margin-left: 2px;
    width: 68px;
    height: 2px;
    background-color: #d0aa8c;
}

.info__services {
    margin-left: 81px;
}

.footer__copyright {
    font-family: "Montserrat-Regular";
    font-size: 15.5px;
    color: #9f9f9f;
    margin-top: 46px;
    margin-left: 2px;
    letter-spacing: -0.3px;
}